{% extends 'base.html' %}

{%block title%} Your courses {% endblock title%}

{% block content %}
    <div>
        <p>Welcome <strong>{{request.user.first_name}}</strong>. Your registration process is complete.</p>
    </div>
    
    <div>
        <h3><strong><u>Courses</u></strong></h3>
    </div>
       
    <div>
        <table border = "1" style = "margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Code</th>
                    <th>Course Name</th>
                </tr>
            </thead>

            <tbody>  
                    {% for course in registered_courses %}  
                            <tr>
                                <td >{{forloop.counter}}</td>
                                <td>{{course.code.code}}</td>
                                <td>{{course.code.name}}</td>
                            </tr>      
                    {% endfor %} 
            </tbody>
        </table>
    </div>
    <br><br><br><br><br>
{% endblock content %}