{% extends 'base.html' %}

{% block title %} Professor Homepage {% endblock title %}

{% block content %}
    <p>Welcome Prof. {{request.user.first_name}} {{request.user.last_name}}! You are assigned following course this semester:</p>
    
    <div style = "margin-right: 20px;">
        <table border = "1" style = "margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th style = "padding: 10px;">S.No.</th>
                    <th style = "padding: 10px;">Code</th>
                    <th style = "padding: 10px;">Course Name</th>
                    <th style = "padding: 10px;">Number of Students</th>
                </tr>
            </thead>

            <tbody>  
                    {% for course in courses_teaching %}  
                            <tr>
                                <td style = "padding: 5px;">{{forloop.counter}}</td>
                                <td style = "padding: 5px; padding-left: 10px; padding-right: 20px;">{{course.code.code}}</td>
                                <td style = "padding: 5px; padding-left: 10px; padding-right: 20px;">{{course.code.name}}</td>
                                <td style = "padding: 5px; padding-left: 10px; padding-right: 20px;">{{course.student_count}}</td>
                            </tr>      
                    {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock content %}