{% extends 'base.html' %}

{%block title%} All Students {% endblock title%}

{% block content %}
    <button onclick='goBack()'>Go Back</button>  
    
    <script>
        function goBack() {
        window.location.href = "{% url 'registrarHome' %}";
        }
    </script>
    
    <br>
    
    <div>    
        <h3><u>Students</u></h3>
    </div>
    
    <div>
        <table border = "1" style = "margin: 10px auto; text-align: center;">
            <thead>
                <tr>
                    <th style = "height: 30px;">S.No.</th>
                    <th>Name</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>  
            {% for student in students %}  
                <tr>
                    <td style = "height: 20px;">{{forloop.counter}}</td>
                    <td>{{student.first_name}} {{student.last_name}}</td>
                    <td><a href="mailto:{{student.email}}">{{student.email}}</a></td>
                </tr>      
            {% endfor %} 
            </tbody>
        </table>
    </div>
    <br><br><br><br><br>
    
{% endblock content %}